@model MoviesRental.Models.Customer

@{
    Layout = null;
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Customer Details</title>
</head>
<body>
    <div>
        <h4>Customer Details</h4>
        <hr />
        <dl class="dl-horizontal">
            <dt>
               Name
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.CName)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.Email)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.Email)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.Address)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.Address)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.Phone)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.Phone)
            </dd>
    
        </dl>
    </div>
    <p>
        @Html.ActionLink("Edit", "CustEdit", new { id = Model.CustomerID }, new { @class = "btn btn-warning" })
        @Html.ActionLink("Back to List", "Customers", null, new { @class = "btn btn-light" })
    </p>
</body>
</html>
