@model MoviesRental.Models.CustomerViewModel

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Cust.cshtml";
}

<h2>Movies</h2>
@Html.ActionLink("Settings","AccountSettings","Customers",new { id = Model.custID }, new {@class = "btn btn-info"})

<table class="table">
    <tr>
        <th>
            Title
        </th>
        <th>
            Released on
        </th>
        <th>
            Description
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model.movies)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.MName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ReleaseDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Description)
            </td>
            <td>
                @if (item.Copies == 0)
                {
                    @Html.Display("Out of stock")
                }
                else
                {
                    @Html.ActionLink("Borrow", "Borrow", "Customers", new { mid = item.MovieID, cid = Model.custID, bd = DateTime.Now }, new { @class = "btn btn-warning" })
                }
            </td>
        </tr>
    }

</table>
<h2>Borrowed Movies</h2>
<table class="table">
    <tr>
        <th>
            Movie
        </th>
        <th>
            Borrowed On
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model.borrowed)
    {
        <tr>
            <td>
                @item.Movie
            </td>
            <td>
                @item.BD
            </td>
            <td>
                @Html.ActionLink("Return","Return", "Customers", new { mname = item.Movie, cname = item.Customer, bd = item.BD }, new { @class = "btn btn-success" })
            </td>
        </tr>
    }

</table>